* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.center {
    display: flex;
    justify-content: center;
    align-content: center;
}

.center-column {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url('../img/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: center;
}

.container .container-login {
    padding-left: 50px;
    width: 620px;
    height: 100%;
    border-radius: 40px 0px 0px 40px;
    background: rgba(10, 10, 10, 0.40);
    backdrop-filter: blur(2px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    transition: 500ms;
}

.container .container-login:hover {
    background: rgba(10, 10, 10, 1);
    width: 50%;
}

.container-login .title {
    width: 410px;
    transition: 500ms;
}

.container-login .title h2 {
    font-size: 40px;
    color: #FFF;
    font-weight: 400;
}

.login,
.register{
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.register{
    display: none;
}
.container .login input,
.container .login button,
.container .register input,
.container .register button {
    width: 370px;
    height: 56px;
    border: none;
    font-size: 20px;

}

.container .login button,
.container .register button {
    width: 410px;
    border-radius: 10px;
    cursor: pointer;
    transition: 500ms;
}

.container .login button:hover,
.container .register button:hover
{
    opacity: 0.8;
}

.login .input-content,
.register .input-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login .input-content .icon,
.register .input-content .icon {
    width: 40px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background: rgba(217, 217, 217, 0.40);
    border-radius: 10px 0 0 10px;
}

.container .login input,
.container .register input{
    padding-left: 10px;
    background: rgba(217, 217, 217, 0.40);
    border-radius: 0 10px 10px 0;
}

.login input::placeholder,
.register input::placeholder{
    color: #0A0A0A;
}

.login input:focus,
.register input:focus{
    outline: none;
}

.login a {
    text-decoration: none;
    transform: translateY(-20px);
}

.login a span {
    font-size: 15px;
    color: #c1c1c1;
}

.login-social {
    color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-social .separator {
    width: 410px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separator .line {
    width: 155px;
    height: 1px;
    background: #D9D9D9;
}

.separator p {
    margin: 5px;
}

.login-social .btn-social {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.btn-social a {
    margin-top: 20px;
    transition: 500ms;
}

.btn-social a:hover {
    opacity: 0.5;
}
.btn-login{
    display: none;
}
.btn-register,
.btn-login{
    color: #c1c1c1;
}
.btn-register p span,
.btn-login p span{
    font-weight: 600;
    cursor: pointer;
}
.screen-enter-register{
    animation: enter 1s ease-in-out;
}
.screen-enter-login{
    animation: enter-login 1s ease-in-out;
}
@keyframes enter-login {
    0%{
        transform: translateX(-200px);
        opacity: 0;
    }
}
@keyframes enter {
    0%{
        transform: translateX(200px);
        opacity: 0;
    }
}
@media (max-width:768px) {
    .container .container-login {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        background: rgba(10, 10, 10, 0.5);
    }

    .container .container-login:hover {
        background: rgba(10, 10, 10, 0.5);
        width: 100%;
    }
    .btn-login,
    .btn-register{
        margin-bottom: 20px;
    }
}

@media (max-width:600px) {
    .container .container-login {
        padding-left: 0;
        backdrop-filter: none;
    }

    .container-login .title {
        width: 100%;
        padding: 5px;
    }

    .container-login .title h2 {
        font-size: 30px;
        text-align: center;
    }

    .container .login input,
    .container .register input {
        width: 90%;
    }

    .container .login button,
    .container .register button {
        width: 100%;
    }

    .login span {
        font-size: 11px;
    }

    .login-social .separator {
        width: 70vw;
    }

    .separator .line {
        width: 100%;
    }

    .btn-social a svg {
        width: 40px;
    }
}